# Movie Recommendation System from scratch

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Column names available in the README file

#Reading users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols, encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')

#Reading items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('ml-100k/u.item', sep='|', names=i_cols, encoding='latin-1')

In [12]:
for i in [users, ratings, items]:
    print(i.shape)
    print(i.head())
    print('__________________________________________________________________________')

(943, 5)
   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213
__________________________________________________________________________
(100000, 4)
   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596
__________________________________________________________________________
(1682, 24)
   movie id        movie title release date  video release date  \
0         1   Toy Story (1995)  01-Jan-1995                 NaN
1         2   GoldenEye (1995)  01-Jan-1995                 NaN
2         3  Four Rooms (1995)  01-Jan-1995                 NaN
3         4  Get Shorty (1995)  01-Jan-1995                 NaN
4         5     Copycat (1995)  01-Jan-1995                 NaN

                                            IMDb URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Children's   ...     Fantasy  Film-Noir  Horror  \
0          0          1           1   ...           0          0       0
1          1          0           0   ...           0          0       0
2          0          0           0   ...           0          0       0
3          0          0           0   ...           0          0       0
4          0          0           0   ...           0          0       0

   Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
0        0        0        0       0         0    0        0
1        0        0        0       0         1    0        0
2        0        0        0       0         1    0        0
3        0        0        0       0         0    0        0
4        0        0        0       0         1    0        0

[5 rows x 24 columns]
__________________________________________________________________________

In [13]:
for i in [users, ratings, items]:
    print(i.info())
    print(i.describe())
    print('__________________________________________________________________________')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
user_id       943 non-null int64
age           943 non-null int64
sex           943 non-null object
occupation    943 non-null object
zip_code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 36.9+ KB
None
          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000
__________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
user_id           100000 non-null int64
movie_id          100000 non-null int64
rating            100000 non-null int64
unix_timestamp    100000 non-null int64
dtypes: int64(4)
memory usage: 3.1 MB
None
            user_id       movie_id         rating  unix_timestamp
count  100000.00000  100000.000000  100000.000000    1.000000e+05
mean      462.48475     425.530130       3.529860    8.835289e+08
std       266.61442     330.798356       1.125674    5.343856e+06
min         1.00000       1.000000       1.000000    8.747247e+08
25%       254.00000     175.000000       3.000000    8.794487e+08
50%       447.00000     322.000000       4.000000    8.828269e+08
75%       682.00000     631.000000       4.000000    8.882600e+08
max       943.00000    1682.000000       5.000000    8.932866e+08
__________________________________________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
movie id              1682 non-null int64
movie title           1682 non-null object
release date          1681 non-null object
video release date    0 non-null float64
IMDb URL              1679 non-null object
unknown               1682 non-null int64
Action                1682 non-null int64
Adventure             1682 non-null int64
Animation             1682 non-null int64
Children's            1682 non-null int64
Comedy                1682 non-null int64
Crime                 1682 non-null int64
Documentary           1682 non-null int64
Drama                 1682 non-null int64
Fantasy               1682 non-null int64
Film-Noir             1682 non-null int64
Horror                1682 non-null int64
Musical               1682 non-null int64
Mystery               1682 non-null int64
Romance               1682 non-null int64
Sci-Fi                1682 non-null int64
Thriller              1682 non-null int64
War                   1682 non-null int64
Western               1682 non-null int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB
None
          movie id  video release date      unknown       Action    Adventure  \
count  1682.000000                 0.0  1682.000000  1682.000000  1682.000000
mean    841.500000                 NaN     0.001189     0.149227     0.080262
std     485.695893                 NaN     0.034473     0.356418     0.271779
min       1.000000                 NaN     0.000000     0.000000     0.000000
25%     421.250000                 NaN     0.000000     0.000000     0.000000
50%     841.500000                 NaN     0.000000     0.000000     0.000000
75%    1261.750000                 NaN     0.000000     0.000000     0.000000
max    1682.000000                 NaN     1.000000     1.000000     1.000000

         Animation   Children's       Comedy        Crime  Documentary  \
count  1682.000000  1682.000000  1682.000000  1682.000000  1682.000000
mean      0.024970     0.072533     0.300238     0.064804     0.029727
std       0.156081     0.259445     0.458498     0.246253     0.169882
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     1.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

          ...          Fantasy    Film-Noir       Horror      Musical  \
count     ...       1682.00000  1682.000000  1682.000000  1682.000000
mean      ...          0.01308     0.014269     0.054697     0.033294
std       ...          0.11365     0.118632     0.227455     0.179456
min       ...          0.00000     0.000000     0.000000     0.000000
25%       ...          0.00000     0.000000     0.000000     0.000000
50%       ...          0.00000     0.000000     0.000000     0.000000
75%       ...          0.00000     0.000000     0.000000     0.000000
max       ...          1.00000     1.000000     1.000000     1.000000

           Mystery      Romance       Sci-Fi     Thriller          War  \
count  1682.000000  1682.000000  1682.000000  1682.000000  1682.000000
mean      0.036266     0.146849     0.060048     0.149227     0.042212
std       0.187008     0.354061     0.237646     0.356418     0.201131
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

           Western
count  1682.000000
mean      0.016052
std       0.125714
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

[8 rows x 21 columns]
__________________________________________________________________________

In [14]:
items.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0